/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Marhey&family=Urbanist&display=swap');

body {
    background: #CBF3D2;
    min-height: 100vh;
    min-width: 100vw;
}

h1 {
    color: #5E54C9;
    font-family: 'Marhey', sans-serif;
    font-weight: 700;
    font-size: 50 px;
    text-align: center;
}

p {
    color: #52144C;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

.buttons-area {
    display: flex;
    justify-content: center;
}

.buttons-area button {
    padding: 8px 16px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #B7C0EE;
    color: #52144C;
}

.card-area {
    display:grid;
    justify-content: center;
    grid-gap: 16 px;
    grid-template-columns: repeat(6, 140px);
    grid-template-rows: repeat(2, calc(140px/ 2 * 3));
}

.card {
    height: calc(140px / 2 * 3);
    width: 140px;
    border-radius: 10px;
    background-color: #7B287D;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}

.front-image {
    width: 60px;
    height: 60px;
}

.card .flipped {
    transform: rotateY(180deg);
}