/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Marhey&family=Urbanist&display=swap');

body {
    background: #CBF3D2;
}

h1 {
    color: #5E54C9;
    font-family: 'Marhey', sans-serif;
}

p {
    color: #52144C;
    font-family: 'Kanit', sans-serif;
}
